<!DOCTYPE html>
<html lang="en">

<head>
    {{>headers}}
    <title>Bracelets</title>
</head>

<body class="bg-[#f8f6f1]">
    {{>navbar}}

    <div class="braceletHeader">
        <div
            class="bg-no-repeat bg-[url('images/braceletMain.jpeg')] bg-cover w-auto h-auto md:pt-20 md:pr-20 md:pl-10 md:pb-20">
            <h1 class="flex justify-center items-center pb-14 pt-14 font-serif text-2xl md:text-5xl text-white">Bracelets
            </h1>
        </div>
    </div>
    <table class="table-auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.category}}</td>
                <td><img src="{{image}}" class="w-20" alt="{{name}}">
                <td>
                    <form action="/mycart/add" method="POST">
                        <input type="hidden" name="productId" value="{{this._id}}">

                        <button type="submit">Add to Cart</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>


</body>

</html>